body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sent {
  text-align: right;
  color: #00B7FF;
}

.row {
  margin: 20px 0 !important;
}

.center {
  text-align: center;
}

.oauth-buttons {
  margin: 10px 0;
}

.twitter-thumbnail {
  margin-right: 10px;
}
