<!-- YOUR HBS TEMPLATE HERE -->
<div class="registration-app">
  <div class='card card-round card-shadow'>
    <div class="card-header text-center">
      Registration
    </div>
    <form class='card-form' method="POST">
      <input type='text' name="username" placeholder='username'/>
      <input type='password' name="password" placeholder='password'/>
      <input type='password' name="passwordRepeat" placeholder='repeat password'/>
      <button type="submit">Register</button>
    </form>
    <div class="card-footer text-center">
      <a href="/login">I already have an account</a>
    </div>
  </div>
</div>
